<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Automobiles by Make</title>

  <style>
      body {
       background-color: rgb(128, 255, 0);
       font-family: 'Courier New', Courier, monospace;
    
    
  }
  
  
  
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <center><h1>Rides by Vehicle Make</h1></center>
  <div id="bar"></div>
  <script>
    d3.json('/bar').then(function(data) {
      var layout = { margin: { t: 0 } }
      var BAR = document.getElementById('bar');
      Plotly.plot(BAR, data)
    })
  </script><center>
<img src="./static/img/turtle.png" height="400" width="500"></center>
</body>

</html>
