body {
  padding: 0px;
  margin: 0px;
}

#map,
body,
html {
  height: 100%;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}